In [2]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
from collections import Counter

In [3]:
# 1. Find the 10 countries with most projects

In [4]:
df1=pd.read_json('/home/pratik/DS/data_wrangling_json/data_wrangling_json/data/world_bank_projects.json')

In [23]:
df2=df1.groupby('countryname')['docty'].count().sort_values( ascending=False)
df2=df2.reset_index()
print (df2.head(10))

                       countryname  docty
0       People's Republic of China     19
1    Socialist Republic of Vietnam     16
2                Republic of India     16
3            Republic of Indonesia     14
4  People's Republic of Bangladesh     12
5                            Nepal     12
6                Republic of Yemen     11
7           Republic of Mozambique     10
8               Kingdom of Morocco     10
9                           Africa     10

In [ ]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [30]:
df2=pd.read_json('/home/pratik/DS/data_wrangling_json/data_wrangling_json/data/world_bank_projects.json')
l1=[]
for i in df2['mjtheme_namecode'].values:    
    for a in i:
        l1.append(a['name'])
print (Counter(l1))

Counter({'Environment and natural resources management': 223, 'Rural development': 202, 'Human development': 197, 'Public sector governance': 184, 'Social protection and risk management': 158, 'Financial and private sector development': 130, '': 122, 'Social dev/gender/inclusion': 119, 'Trade and integration': 72, 'Urban development': 47, 'Economic management': 33, 'Rule of law': 12})

In [31]:
df=json.load(open('/home/pratik/DS/data_wrangling_json/data_wrangling_json/data/world_bank_projects.json'))
df1=json_normalize(df, 'mjtheme_namecode')
print (df1.head())

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [32]:
df1=df1['name'].value_counts().sort_values(ascending = False)
print (df1.head(10))

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [ ]:
#3. In 2. above you will notice that some entries have only the code and the name is missing. 
#Create a dataframe with the missing names filled in.

In [33]:
df2=json_normalize(df, 'mjtheme_namecode')
print (df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 23.5+ KB
None

In [34]:
df2['code'] = pd.to_numeric(df2['code'])

In [35]:
df3 = df2.replace('', np.nan)

df3 = df3.sort_values(['code', 'name'])
print(df3[:50])

      code                      name
2        1       Economic management
88       1       Economic management
175      1       Economic management
204      1       Economic management
205      1       Economic management
220      1       Economic management
222      1       Economic management
223      1       Economic management
249      1       Economic management
357      1       Economic management
453      1       Economic management
454      1       Economic management
458      1       Economic management
497      1       Economic management
647      1       Economic management
648      1       Economic management
784      1       Economic management
803      1       Economic management
841      1       Economic management
900      1       Economic management
1010     1       Economic management
1045     1       Economic management
1056     1       Economic management
1057     1       Economic management
1078     1       Economic management
1206     1       Economic management
1212     1       Economic management
1218     1       Economic management
1229     1       Economic management
1230     1       Economic management
1235     1       Economic management
1257     1       Economic management
1260     1       Economic management
212      1                       NaN
363      1                       NaN
1024     1                       NaN
1114     1                       NaN
1437     1                       NaN
5        2  Public sector governance
14       2  Public sector governance
20       2  Public sector governance
21       2  Public sector governance
22       2  Public sector governance
45       2  Public sector governance
48       2  Public sector governance
49       2  Public sector governance
50       2  Public sector governance
68       2  Public sector governance
71       2  Public sector governance
90       2  Public sector governance

In [36]:
df3=df3.fillna(method='ffill') # ffill is used to fill same last value as  next value
print(df3[:50])

      code                      name
2        1       Economic management
88       1       Economic management
175      1       Economic management
204      1       Economic management
205      1       Economic management
220      1       Economic management
222      1       Economic management
223      1       Economic management
249      1       Economic management
357      1       Economic management
453      1       Economic management
454      1       Economic management
458      1       Economic management
497      1       Economic management
647      1       Economic management
648      1       Economic management
784      1       Economic management
803      1       Economic management
841      1       Economic management
900      1       Economic management
1010     1       Economic management
1045     1       Economic management
1056     1       Economic management
1057     1       Economic management
1078     1       Economic management
1206     1       Economic management
1212     1       Economic management
1218     1       Economic management
1229     1       Economic management
1230     1       Economic management
1235     1       Economic management
1257     1       Economic management
1260     1       Economic management
212      1       Economic management
363      1       Economic management
1024     1       Economic management
1114     1       Economic management
1437     1       Economic management
5        2  Public sector governance
14       2  Public sector governance
20       2  Public sector governance
21       2  Public sector governance
22       2  Public sector governance
45       2  Public sector governance
48       2  Public sector governance
49       2  Public sector governance
50       2  Public sector governance
68       2  Public sector governance
71       2  Public sector governance
90       2  Public sector governance

In [37]:
df3=df3['name'].value_counts().sort_values(ascending = False)
print (df3)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64